.fm1{
    padding-left: 2.1rem;
  }
  .form-control-feedback {
    padding-top: 0.85rem;
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #aaa;
  }

small{
  float: right;
}

.chatm{
  border-bottom: 1px solid rgb(163, 163, 163);
  border-radius: 8%;
  margin-bottom: 0.6rem;
  color: rgb(0, 0, 0);
  padding: 0.8rem;
  width: 80%;
  float: left;
  overflow-wrap: break-word;
 
}
.me{
   float: right;
   background-color: rgb(240, 255, 226);
   width: 65%;
 
}